<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269034171955-r079q6r6dg44g240bn36kau99n7du81o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269034171955-r079q6r6dg44g240bn36kau99n7du81o</string>
	<key>API_KEY</key>
	<string>AIzaSyCxwWpexB9kWhLJpQUjuMUFa2s6bs7Un9E</string>
	<key>GCM_SENDER_ID</key>
	<string>269034171955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TheHiddenFork</string>
	<key>PROJECT_ID</key>
	<string>the-hidden-fork</string>
	<key>STORAGE_BUCKET</key>
	<string>the-hidden-fork.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269034171955:ios:45b47509f7dc06d8a1fd46</string>
	<key>DATABASE_URL</key>
	<string>https://the-hidden-fork-default-rtdb.firebaseio.com</string>
</dict>
</plist>